/*section {
background-image: url('../../images/inst3.jpeg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
padding-top: 20px;
}*/

/*form {
width: 500px;
margin: 120px;
}
form label {
    font-family: Aldhabi;
    font-size: 35px;
    font-style: initial;
    color: brown;
    margin-right: 30px;
}
form input[type="text"] {
    border: 2px solid #0026ff;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
}*/

